.container {
    margin: 0 auto;
    padding: 0 15px;

    @include breakpoint-above(lg) {
        padding: 0;
    }
}

.post-thumbnail-wrapper {

    img {
        width: 100%;
    }

}

.alignfull {
	width: 100%;
}
