.site-content {

	width: 100%;
	display: flex;
	flex-direction: column;

	@include breakpoint-above(lg) {
		flex-direction: row;
		justify-content: space-between;
	}

	.site-main {

		width: 100%;
		min-height: 600px;
		padding-top: 2rem;

	}

	.widget-area {

		width: 100%;
		padding-top: 2rem;

		@include breakpoint-above(lg) {

			max-width: 27%;
			margin-left: 3%;
			overflow: hidden;

		}

		ul {
			margin-left: -1rem;
		}

	}

}
