.content-area {

	margin: 0 0 100px 0;
	width: $size__site-main;

	@include breakpoint-above(lg) {
		float: left;
        margin: 0 (-$size__site-sidebar) 100px 0;
    }

	.site-main {

		min-height: 600px;
		margin: 0;
		padding-right: 0;

		@include breakpoint-above(lg) {
			margin: 0 $size__site-sidebar 0 0;
			padding-right: 58px;
	    }

	}

}

.site-content .widget-area {

	width: $size__site-main;

	@include breakpoint-above(lg) {
		float: right;
		overflow: hidden;
		width: $size__site-sidebar;
	}

}
