.site-footer {

    clear: both;
    margin-top: 3rem;
    padding: 3rem 0;
    color: $white;
    background-color: $black;

    a {
        color: $white
    }
    border-top: 1px solid $gray-400;


    ul {

        margin: 0 0 1rem 0 !important;
        padding: 0;

        @include media-breakpoint-up(lg) {
            margin: 0;
        }

        li {

            padding: 0.5rem;
            list-style-type: none;
            font-family: sans-serif;
            font-size: 1rem;
            text-decoration: underline;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
		        display: inline-flex;
                padding: 0 0.5rem;

                &:first-child {
                    padding: 0 0.5rem 0 0;
                }
		    }
        }

    }

    .site-info > div {
        padding-top: 1rem;
        @include media-breakpoint-up(lg) {
            padding-top: 0;
        }
    }

}
