.site-header {

	padding: 0;

	.custom-logo {
		max-width: 100px;
		@include breakpoint-above(lg) {
			max-width: 125px;
		}
	}

	.site-title {
		margin-top: auto;
		margin-bottom: auto;
		padding: 0;
		font-size: 1.5rem;
		@include breakpoint-above(lg) {
			font-size: 2rem;
		}
	}

	.site-description {
		margin-bottom: auto;
		font-size: 0.9rem;
		@include breakpoint-above(lg) {
			font-size: 1rem;
		}
	}

	.header-top {

		.container {

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;

			@include breakpoint-above(lg) {
				flex-direction: row;
			}

			.site-branding {

				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 0.5rem 0;

				@include breakpoint-above(lg) {
					padding: 0;
				}

				.site-branding-texts {
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-left: 1rem;
				}

			}

			.widget-area {

				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				
				@include breakpoint-above(lg) {
					width: 50%;
					align-items: flex-end;
				}

			}

		}

	}

	.main-navigation {

		margin-bottom: 0.75rem;
		padding: 0.75rem 0;
		border-top: 1px solid $gray-400;
		border-bottom: 1px solid $gray-400;

		.container {

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.nav-toggle {

				position: relative;
				width: auto;
				top: auto;
				left: auto;
				bottom: auto;
				right: auto;
				color: $black;

				.toggle-inner {
					font-size: 24px;
				}

			}

			.primary-menu-wrapper {

				margin: auto;
				padding: 0;

				.primary-menu {

					margin: 0;
					padding: 0;
					list-style-type: none;

					.menu-item {

						margin: 0 0.75rem;
						font-size: 1.24rem;

						&:first-child {
							margin-left: 0;
						}

						&:hover {
							a {
								color: $gray-600;
							}
						}
						&.current-menu-item {
							a {
								color: $blue;
							}
						}

					}

				}

			}

			.widget-area {

				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;

				@include breakpoint-above(lg) {
					width: 30%;
					align-items: flex-end;
				}

			}

		}

	}

}

.search-form-container {

	position: absolute;
	width: 0;
	max-width: 100%;
	right: 20px;
	top: 0;
	background-color: $white;
	overflow: hidden;
  	transition: 0.5s;
	z-index: 999;


	@include breakpoint-above(lg) {
		max-width: 50%;
	}

	.search-form-container-inner {

		padding: 0 15px;
		border: 1px solid $gray-200;

		.search-form-close {
			font-size: 36px;
		}

		label {

			display: block;

			.search-field {
				width: 100%;
			}

		}

		.search-submit {
			color: $black;
			border-color:  $black;
		}

	}

}


.button-search {
	@include breakpoint-above(lg) {
		padding-right: 15px;
	}
}
