button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $border-color;
	border-radius: 3px;
	background: transperant;
	color: $link-color;

	@include font-size(0.75);

	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: darken($border-color, 15%);
	}

	&:active,
	&:focus {
		border-color: darken($border-color, 10%);
	}
}

.search-form {
	.search-submit {
		padding: 0.6rem 2.6rem;
		font-size: 1rem;
	}
}
