.woocommerce,
.woocommerce-page {

    .shop_table.cart {

        width: 100%;

        @include media-breakpoint-up(lg) {
			width: 63%;
            float: left;
		}

    }

    .cart-collaterals {

        .cart_totals {

            float: none;
            width: 100%;

            @include media-breakpoint-up(lg) {
                float: right;
                width: 33%;
    		}

        }

    }

}
