.card {
    box-shadow: 3px 3px 5px 0 $gray-200;
}

.card-columns {

    &.columns-1,
    &.columns-2,
    &.columns-3,
    &.columns-4,
    &.columns-5,
    &.columns-6 {
        column-count: 1;
        column-gap: 0;
    }

    @include media-breakpoint-up(lg) {

        &.columns-2 {
            column-count: 2;
            column-gap: 1.5rem;
        }

        &.columns-3 {
            column-count: 3;
            column-gap: 1.25rem;
        }

        &.columns-4 {
            column-count: 4;
            column-gap: 1rem;
        }

        &.columns-5 {
            column-count: 5;
            column-gap: 0.75rem;
        }

        &.columns-6 {
            column-count: 6;
            column-gap: 0.5rem;
        }
    }
}

.card-deck {
    .card {
        flex: none !important;

        .thumbnail {

            height: 250px;
            overflow: hidden;

            .card-img-top {
                min-height: 250px;
                height: auto;
                width: 100%;
            }

        }

    }

}
