.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget_unax_contacts {
	display: flex;
	flex-direction: row;

	@include media-breakpoint-up(lg) {
		flex-direction: column;
	}

	.fa, .fab, .far, .fas {
		font-size: 2rem;
		@include media-breakpoint-up(lg) {
			font-size: 1.5rem;
		}
	}

	.socials {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}
	}
}
