.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.top-widget-area {
	.widget {
		margin-bottom: 0;
	}

	.widget > * {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.widget_unax_contacts {
	figure {
		width: 1.75rem;
		@include media-breakpoint-up(lg) {
			width: 1.25rem;
		}
	}

	.contacts {
		display: flex;
		flex-direction: row;
		justify-content: right;
		margin-top: 1rem;

		@include media-breakpoint-up(md) {
			flex-direction: column;
		}

		a {
			display: flex;
			margin-bottom: 1rem;
			@include media-breakpoint-up(md) {
				margin-bottom: 0.5rem;
			}

			figure {
				margin: 0 0.5rem 0 0;
			}

			span {
				display: none;

				@include media-breakpoint-up(md) {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}

	.socials {
		margin-top: 1rem;

		display: flex;
		flex-direction: row;
		justify-content: center;

		@include media-breakpoint-up(lg) {
			justify-content: flex-start;
		}

		figure {
			margin: 0 0.25rem;
		}
	}
}

.header-widget-area .widget_unax_contacts {
	svg path {
		fill: $black !important;
	}

	.socials {
		margin-top: 1rem;
		justify-content: flex-end;
	}	
}
