.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.search,
.archive,
.archive-loop {
	article {
		margin-bottom: 1.75rem;
	}


	h2.entry-title {
		margin: 0;
		padding: 0 0 0.25rem 0;
	}
	figure.wp-block-embed {
		figcaption {
			display: none;
		}
	}
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-date {
	color: $black;
}
