.single-post {

    .entry-header {

        .entry-category {
            font-family: sans-serif;
            font-size: 1.15rem;
            a {
                color: $gray-600;
            }
        }

        .entry-meta {
            font-size: 1rem;
            font-family: sans-serif;
        }

    }

    .entry-content {

        margin: 1rem auto 2rem auto;

        & > * {
            @include breakpoint-above(lg) {
                margin: 1rem auto 0 auto;
            }
        }
        .alignleft {
            @include breakpoint-above(lg) {
                margin: 1rem 0.5rem 0 auto;
            }
        }
    }

    .entry-footer {
        @include breakpoint-above(lg) {
            margin: 1rem auto 0 auto;
        }
    }

}

.page-template-full-width {

    .site-main {
		padding-top: 0;
	}

    .container,
    .container-fluid {
        margin: 0 auto;
        padding: 0;
    }

    .entry-content > *:not(.wp-block-cover) {
        padding: 0 15px;
    }

    .post-thumbnail-wrapper {

        @include breakpoint-above(lg) {
            height: 600px;
            overflow-y: hidden;
        }

        img {
            @include breakpoint-above(lg) {
                margin-top: -15%;
            }

        }

    }

}

.single-post,
.page {
    .post-thumbnail-wrapper {
        width: 100%;
        margin-bottom: 1rem;
    }
}
