ul,
ol {
	margin: 0 0 15px 0;
	@include breakpoint-above(lg) {
		margin: 0 0 1.5em 3em;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 15px	;
	@include breakpoint-above(lg) {
		margin-left: 1.5em;
	}
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}
