.menu {
	padding: 0;
}

/* Navigation Toggle ------------------------- */
.nav-toggle {

	display: block;
	position: relative;
	width: auto;
	top: auto;
	left: auto;
	bottom: auto;
	right: auto;
	margin: 0.5rem 0;
	color: $black;
	background-color: $white;

	@include media-breakpoint-up(lg) {
		display: none;
	}

	.fa-bars {
		font-size: 36px;
	}

}

/* Modal Menu ----------------------------- */
.menu-modal {

	display: none;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	bottom: 0;
	left: -99999rem;
	right: 99999rem;
	top: 0;
    background: $white;
	transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
	z-index: 9999;

    &.show-modal {
    	display: flex;
    }

    &.active {
    	left: 0;
    	opacity: 1;
    	right: 0;
    	transition: opacity 0.25s ease-out;
    }

    .menu-top {
        flex-shrink: 0;
    }

}

.menu-modal-inner {
    display: flex;
    justify-content: stretch;
    overflow: auto;
    background: $white;
    -ms-overflow-style: auto;
    width: 100%;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.close-nav-toggle {

    align-items: center;
    display: flex;
    background: $white;
    font-size: 36px;
    font-weight: 500;
    justify-content: flex-end;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    width: 100%;

}

/* WP Nav Menu --------------------------------- */
.modal-menu {

	position: relative;
	width: 100vw;
    left: calc(50% - 50vw);
    margin-left: 0;
	padding-left: 0;
	font-family: sans-serif;
	font-weight: 400;

    li {
    	border-color: #dedfdf;
    	border-style: solid;
    	border-width: 0.1rem 0 0 0;
    	display: flex;
    	flex-wrap: wrap;
    	line-height: 1;
    	justify-content: flex-start;
    	margin: 0;
    }

    & > li > a,
    & > li > .ancestor-wrapper > a {
    	font-size: 2rem;
    	font-weight: 700;
    	letter-spacing: -0.0375em;
    }

    & > li:last-child {
    	border-bottom-width: 0.1rem;
    }

    .ancestor-wrapper {
    	display: flex;
    	justify-content: space-between;
    	width: 100%;
    }

    a {
    	display: block;
    	padding: 2rem;
    	width: 100%;
    }

    a:focus,
    a:hover,
    li.current-menu-item > .ancestor-wrapper > a,
    li.current_page_ancestor > .ancestor-wrapper > a {
    	text-decoration: underline;
    }

	.sub-menu{
		padding-left: 0;
		font-size: 1.5rem;
	}

    ul {

    	display: none;
    	margin: 0;
    	width: 100%;

        li {

            border-left-width: 1rem;

            a {
            	color: inherit;
            	font-weight: 500;
            }

        }

    }

}

.sub-menu-toggle {

    border-left: 0.1rem solid #dedfdf;
    flex-shrink: 0;
    margin: 0;
    padding: 0 1.5rem;

    .fas {
        font-size: 36px;
    }

}

/* Expanded Menu ----------------------------- */

.expanded-menu {
	display: none;
}

.mobile-menu {
	display: block;
}

/* Main menu animation ----------------------- */

.menu-wrapper .menu-item {
	position: relative;
}

.menu-wrapper .active {
	display: block;
}

.menu-wrapper.is-toggling {
	pointer-events: none;
}

.menu-wrapper.is-toggling .menu-item {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
}

.menu-wrapper.is-animating .menu-item,
.menu-wrapper.is-animating .toggling-target {
	transition-duration: 250ms;
}

.menu-wrapper.is-animating .menu-item {
	transition-property: transform;
}

.menu-wrapper.is-toggling .toggling-target {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
}

.menu-wrapper.is-toggling .toggling-target.active {
	opacity: 0;
}

.menu-wrapper.is-animating.is-toggling .toggling-target {
	display: block;
	transition-property: opacity;
	opacity: 0;
}

.menu-wrapper.is-animating.is-toggling .toggling-target.active {
	opacity: 1;
}

.menu-wrapper.is-toggling .modal-menu > li:last-child li {
	border-top-color: transparent;
	border-bottom-width: 0.1rem;
}

@media (prefers-reduced-motion: reduce) {

	.menu-wrapper.is-animating .menu-item,
	.menu-wrapper.is-animating .toggling-target {
		transition-duration: 1ms !important;
	}

}
