/* Nav Tabs ----------------------------- */
.nav[role="tablist"] {

	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.4px;

	a {

		&.active {
			color: $light;
		}

	}

	span {
		color: $light;
	}

}

.nav.tabs {

	.nav-item {

		width: 100%;
		text-transform: uppercase;
		border-bottom: 1px solid $gray-300;

		&:last-child {
			border-bottom: none;
		}

		.nav-link {

			padding: 0.5rem 0;
			&.active {
				font-weight: 700;
			}

		}

	}

}
