// primary
.has-primary-color {
    color: $primary;
    &:focus,
    &.active {
        color: darken( $primary, 15% );
    }
}
.has-primary-background-color,
.wp-block-cover.has-background-dim.has-primary-background-color {
    background-color: $primary;
}

// secondary
.has-secondary-color {
    color: $secondary;
    &:focus,
    &.active {
        color: darken( $secondary, 15% );
    }
}
.has-secondary-background-color,
.wp-block-cover.has-background-dim.has-secondary-background-color {
    background-color: $secondary;
}

// success
.has-success-color {
    color: $success;
    &:focus,
    &.active {
        color: darken( $success, 15% );
    }
}
.has-success-background-color,
.wp-block-cover.has-background-dim.has-success-background-color {
    background-color: $success;
}

// info
.has-info-color {
    color: $info;
    &:focus,
    &.active {
        color: darken( $info, 15% );
    }
}
.has-info-background-color,
.wp-block-cover.has-background-dim.has-info-background-color {
    background-color: $info;
}

// warning
.has-warning-color {
    color: $warning;
    &:focus,
    &.active {
        color: darken( $warning, 15% );
    }
}
.has-warning-background-color,
.wp-block-cover.has-background-dim.has-warning-background-color {
    background-color: $warning;
}

// danger
.has-danger-color {
    color: $danger;
    &:focus,
    &.active {
        color: darken( $danger, 15% );
    }
}
.has-danger-background-color,
.wp-block-cover.has-background-dim.has-danger-background-color {
    background-color: $danger;
}

// white
.has-white-color {
    color: $white;
    &:focus,
    &.active {
        color: darken( $white, 15% );
    }
}
.has-white-background-color,
.wp-block-cover.has-background-dim.has-white-background-color {
    background-color: $white;
}

// light
.has-light-color {
    color: $light;
}
.has-light-background-color,
.wp-block-cover.has-background-dim.has-light-background-color {
    background-color: $light;
}

// dark
.has-dark-color {
    color: $dark;
}
.has-dark-background-color,
.wp-block-cover.has-background-dim.has-dark-background-color {
    background-color: $dark;
}

// black
.has-black-color {
    color: $black;
}
.has-black-background-color,
.wp-block-cover.has-background-dim.has-black-background-color {
    background-color: $black;
}

// cover
.wp-block-cover {
    &.has-background-dim {
        p:not(.has-text-color) {
            color: $white;
        }
    }
}
