// primary
.has-primary-color {
    color: $primary;
}
a.has-primary-color,
.wp-block-button__link.has-primary-color {
    &:hover,
    &:focus,
    &.active {
        color: $primary;
    }
}
.has-primary-background-color,
.wp-block-cover.has-background-dim.has-primary-background-color {
    background-color: $primary;
}

// secondary
.has-secondary-color {
    color: $secondary;
}
a.has-secondary-color,
.wp-block-button__link.has-secondary-color {
    &:hover,
    &:focus,
    &.active {
        color: $secondary;
    }
}
.has-secondary-background-color,
.wp-block-cover.has-background-dim.has-secondary-background-color {
    background-color: $secondary;
}

// success
.has-success-color {
    color: $success;
}
a.has-success-color,
.wp-block-button__link.has-success-color {
    &:hover,
    &:focus,
    &.active {
        color: $success;
    }
}
.has-success-background-color,
.wp-block-cover.has-background-dim.has-success-background-color {
    background-color: $success;
}

// info
.has-info-color {
    color: $info;
}
a.has-info-color,
.wp-block-button__link.has-info-color {
    &:hover,
    &:focus,
    &.active {
        color: $info;
    }
}
.has-info-background-color,
.wp-block-cover.has-background-dim.has-info-background-color {
    background-color: $info;
}

// warning
.has-warning-color {
    color: $warning;
}
a.has-warning-color,
.wp-block-button__link.has-warning-color {
    &:hover,
    &:focus,
    &.active {
        color: $warning;
    }
}
.has-warning-background-color,
.wp-block-cover.has-background-dim.has-warning-background-color {
    background-color: $warning;
}

// danger
.has-danger-color {
    color: $danger;
}
a.has-danger-color,
.wp-block-button__link.has-danger-color {
    &:hover,
    &:focus,
    &.active {
        color: $danger;
    }
}
.has-danger-background-color,
.wp-block-cover.has-background-dim.has-danger-background-color {
    background-color: $danger;
}

// white
.has-white-color {
    color: $white;
}
a.has-white-color,
.wp-block-button__link.has-white-color {
    &:hover,
    &:focus,
    &.active {
        color: $white;
    }
}
.has-white-background-color,
.wp-block-cover.has-background-dim.has-white-background-color {
    background-color: $white;
}

// light
.has-light-color {
    color: $light;
}
a.has-light-color,
.wp-block-button__link.has-light-color {
    &:hover,
    &:focus,
    &.active {
        color: $light;
    }
}
.has-light-background-color,
.wp-block-cover.has-background-dim.has-light-background-color {
    background-color: $light;
}

// medium
.has-medium-color {
    color: $medium;
}
a.has-medium-color,
.wp-block-button__link.has-medium-color {
    &:hover,
    &:focus,
    &.active {
        color: $medium;
    }
}
.has-medium-background-color,
.wp-block-cover.has-background-dim.has-medium-background-color {
    background-color: $medium;
}

// dark
.has-dark-color {
    color: $dark;
}
a.has-dark-color,
.wp-block-button__link.has-dark-color {
    &:hover,
    &:focus,
    &.active {
        color: $dark;
    }
}
.has-dark-background-color,
.wp-block-cover.has-background-dim.has-dark-background-color {
    background-color: $dark;
}

// black
.has-black-color {
    color: $black;
}
a.has-black-color,
.wp-block-button__link.has-black-color {
    &:hover,
    &:focus,
    &.active {
        color: $black;
    }
}
.has-black-background-color,
.wp-block-cover.has-background-dim.has-black-background-color {
    background-color: $black;
}

// cover
.wp-block-cover {
    &.has-background-dim {
        p:not(.has-text-color) {
            color: $white;
        }
    }
}
